@model Project_Management.Models.ITAdmin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ITAdmin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DefaultPassword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DefaultPassword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Designation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Designation)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
