@model IEnumerable<Project_Management.Models.ProjectManagement>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New Project", "Create")
    @Html.ActionLink("Assign Project", "AssignTask")
    @Html.ActionLink("Show Resource Person","ShowProjectResourcePerson")
</p>
<table class="table table-striped">
    <tr>
        <th>
           Project Name
        </th>
        <th>
            Code Name
        </th>
        <th>
            Description
        </th>
        <th>
            Possible Start Date
        </th>
        <th>
           Possible End date
        </th>
        <th>
            Duration
        </th>
        
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PossibleStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PossibleEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UploadFile)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
